.blurb {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

main{
  width:60%;
  display:inline-flex;
  margin:10% 20% 10% 20%;
  padding:0;
}

.column1 iframe {
  width:20vw;
  height:30vh;
  padding:0 0 0vh 0;
  position: relative;
  z-index: -1;

}

.column2 {
  width:40vw;
  height:30vh;
  background-color: #5cd6d6;
  z-index: -1;
}

.list2 {
  clear:both;
  list-style: none;
  color: black;
  margin:0 0 0 0vw;
  padding:0;
}
.contact1 {
  float:left;
  margin:0.5vh 0 0vh 3vw;
  padding:0;
  font-size: 1.25rem;
}

.contact2 {
  float:left;
  padding:0.5vh 0 0 3vw ;
}

.contact3 {
  float:left;
  margin:0.5vh 0 0vh 3vw;
  padding:0;
}

.text {
  margin: 260vh 0 0 0; 
  color: black;
}

form {
  margin:0 0 10% 0;
  background: #5cd6d6;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  padding:2% 5% 2% 5%;
}