body {
  font-family: "Calibri Light", sans-serif;
}

nav { 
  top: 0;
  right: 0;
  left: 0;
  background: #ffbf00;
  height: 4rem;
  width: 100%;
  position: absolute;
}

nav img {
  float: left;
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 6rem;
  height: 4rem;
}

nav h1 {
  float: left;
  display: block;
  color: #765800;
  vertical-align: middle;
  margin: 0px;
  padding: .75rem 0rem;
  border:0px;
  font-size: 2rem;

}

nav h1:hover {
  color: #140f00;
}
nav ul li {
  display: inline;
}

nav ul li a{
  text-decoration: none;
  float:right;
  display: block;
  color: #765800;
  margin: 0rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
  padding: .75rem 0rem;
}

nav ul li a:hover {
  color: #140f00;
}

aside {
  background: #3b2c00;
  top: 4rem;
  left: 0rem;
  height: 100%;
  width: 12rem;
  position: absolute;
  margin: 0rem;
  padding:0rem;
  border: 0rem;
}

aside ul li {
  list-style-type: none;
}
aside ul li h4 {
  text-decoration: none;
  font-size: 1rem;
  margin: 0rem;
  padding: 3rem 0rem 1rem 0rem;
  color: #765800;
  text-align: left;
  vertical-align: middle;
}

aside ul li a {
  text-decoration: none;
  margin: 0rem;
  padding: 0rem 0rem 0rem 0rem;
  color: #765800;
  text-align: left;
  vertical-align: middle;
}
aside ul li a:hover {
  color:  #ffbf00
}

article {
  background: #c49300;
  top: 4rem;
  left: 12rem;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0rem;
  padding:0rem;
  border: 0rem;
}

article h1{
  text-align:left;
  width: 70%; 
  padding-top: 2rem; 
  padding-left: 5%;
  padding-right: 5%;
}

.first {
  text-align:left;
  width: 70%; 
  padding-top: 2rem; 
  padding-left: 5%;
  padding-right: 5%;
}

.second {
  text-align:left;
  width: 70%; 
  margin-left: 5%;
  margin-right: 5%;
}
.third {
  text-align:left;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}
.fourth {
  text-align:left;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}
.fifth {
  text-align:left;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}


footer {
  background: black;
  height: 3rem;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
.name {
  float: left;
  display: block;
  color: white;
  margin: 0px;
  padding: 0rem;
  border:0px;
  font-size: .75rem;
}
.email {
  float: right;
  display: block;
  color: white;
  vertical-align: middle;
  margin: 0px;
  padding: 0rem 1rem;
  border:0px;
  font-size: .75rem;
}
.email a {
  text-decoration: none;
  color: white;
}

.email a:hover{
  color:#c49300;
}