main {
  clear: both;
  width:70%;
  height:70%;
  margin-left:auto;
  margin-right: auto;
}

/* various borders turn the rectangle into a blob, 50% radius will create a circle. */
.blob {
  float:right;
  width: 80%;
  height:40%;
  position:relative;
  margin: 8rem 0rem 0rem 0rem;
  background: #5cd6d6;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  transition: all 5s ease-in-out;
}

/* on hover, this will change the corner radius curves depending on their value */
.blob:hover {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* I had to put opacity to 0 to have the text start off invisible */
.text {
  color: black;
  opacity: 0;
  text-align: left;
  transition: all 6s ease-in-out;
  font-size: 2rem;
  padding: 6rem 1rem 6rem 3rem;
}

/* changed the opacity to 1 to have the text show up */
.blob:hover .text{
  padding: 6rem 1rem 6rem 3rem;
  opacity: 1;
  font-weight: 300;
}